.top {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.top input {
    flex-grow: 1;
    padding: 5px 10px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .top {
        flex-direction: column;
    }
}
